.wrapper{
    width:100%;
    height:auto;
    display: flex;
    justify-content:space-between;
    flex-direction:column;
}
@media (min-width:950px){
    .wrapper{
        width:100%;
        height:auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}