.container { display: flex; justify-content: center; align-items: center; background: rgb(255, 255, 255);
 flex-direction: column; height: auto; width: 400px; margin: auto; padding: 1.50rem; border-radius:0.40rem; -webkit-border-radius:0.40rem; -moz-border-radius:0.40rem; -ms-border-radius:0.40rem; -o-border-radius:0.40rem; } 

.container h3 { text-align: center; font-size: 3rem; opacity: 0.5; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }


.form > input { padding: 1rem 2rem; border-color: darkcyan; border-radius: 0.50rem; outline: none; -webkit-border-radius: 0.50rem; -moz-border-radius: 0.50rem; -ms-border-radius: 0.50rem; -o-border-radius: 0.50rem; font-size: 1.10rem; } 


.form > input::placeholder { font-size: 1.10rem; color: rgb(14, 110, 128); } 
.container ul { list-style: none; margin:1rem; font-size: 1.50rem; 
 width: 100%; }
.container ul li { background: rgb(241, 241, 241); margin: 2rem; padding: 1.10rem; border-radius: 3rem; -webkit-border-radius: 3rem; -moz-border-radius: 3rem; -ms-border-radius: 3rem; -o-border-radius: 3rem; cursor: pointer; }

.compleate {text-decoration: line-through; color:#d5d5d5; } 

body { background: #f5f5f5; display: flex; min-height: 100vh; } 