/* 
.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation:spain infinite 300ms    ;
    -webkit-animation:spain infinite 300ms    ;
} 

@keyframes spain { 
 0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); } 
100%{ transform:rotate(360deg) ; -webkit-transform:rotate(360deg) ; -moz-transform:rotate(360deg) ; -ms-transform:rotate(360deg) ; -o-transform:rotate(360deg) ; } 
}

.overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 } */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{ width: 300px}

.slide{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
    
}

.slideCss{
    
    background: rgb(230, 221, 221);
  

}
.slid{
    width:100px;
    height:30px;
    display: flex;
    justify-content:center;
   
}

.slid div{
    width:100%;
    height:100%;
    display: inline;
    background: rgb(27, 151, 114);
}

.slid div:nth-child(3){
    background: #000;
}

.slid div:nth-child(2){
    background: rgb(117, 9, 9);
}

.slid div:nth-child(1){
    background: rgb(14, 48, 201);
}