.main { display: grid; grid-template-columns: 1fr 1fr 1fr; place-content: center;  background: #fff; } 

.flex { height: 100vh;background-color: blue;color: wheat; font-size: 3rem; } 

.border{
    width: 5px;
    background: rgb(204, 68, 68);
    height: 100vh;
    resize: both;
    max-width: 10px;

}

.border:hover{
    cursor: ew-resize;
}